body 
{
  background-color: #1fa2b9;
  text-align: center;
}
h1 
{
  color: rgb(5, 4, 78);
  border-style: solid;
  border-color:white;  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(68, 20, 201);
  background: rgb(154, 222, 243);
}
a
{
  color: blue;
  font-size: 20px;
  border-style: dashed;
  border-color: darkblue;
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(18, 2, 90);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: darkblue;
    font-size: 18px;
}

